body {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.header {
    width: 100%;
    height: 6rem;
}
.nav-bar-right {
    display: flex;
    justify-content: flex-end;
}
.nav-bar-right ul {
    width: 17rem;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav-bar-right ul a {
    margin-right: 0.6rem;
    color: #000000;
    text-decoration: none;
    font-size: 0.8rem;
}
.nav-bar-right .menu-icon img {
    width: 1rem;
    height: 1rem;
    margin: 0.2rem 1rem 0 0.5rem;
}
.boton {
    margin-right: 1.5rem;
    background-color: #85C1E9;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    width: 7.2rem;
    height: 2.2rem;
}
.boton:hover {
    background-color: #AED6F1;
}
main {
    margin-top: 5rem;
    text-align: center;
}
main .main-logo {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
main .main-logo img {
    width: 18rem;
}
main .main-input {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container {
    width: 32rem;
    border-radius: 10rem;
    border: 0.1rem solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container:hover {
    box-shadow: 0 0.1rem 0.6rem #20212477;
    border-color: #dfe1e500;
}
main .main-input input {
    width: 25rem;
    height: 2.3rem;
    border: none;
    outline: none;
    margin-right: 2rem;
    margin-left: 0.7rem;
}

/* ICONOS BARRA BUSQUEDA */
main .main-input .search-icon {
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1rem;
    height: 1rem;
}
main .main-input .micro-icon {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}
/* ESTILOS BUTTONS */
main .main-buttons {
    width: 53rem;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;
    margin: 0.3rem;
}
main .main-buttons button {
    width: 10rem;
    height: 2.2rem;
    background-color: #f2f2f2;
    border: 0;
    font-size: 0.9rem;
    color: #5f6368;
    border-radius: 0.2rem;
    cursor: pointer;
}
main .main-buttons button:hover {
    border: 0.1rem solid #c6c6c6;
    box-shadow: 0 0.05rem 0.05rem #000001;
    color: #222;
}
main .main-country {
    font-size: 0.8rem;
}
main .main-country a {
    text-decoration: none;
}
/* ESTILOS FOOTER */
footer {
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 0.8rem;
    background-color: #f2f2f2;
    /* border-top: 0.1rem solid #e4e4e4; */
}

footer ul {
    margin: 1rem;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left {
    justify-content: left;
}
footer .footer-right {
    justify-content: right;
}
footer ul li a {
    text-decoration: none;
    margin: 1rem;
    color: #5f6368;
}